<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href= "/static/soccer.css">
    <title>Club Soccer System</title>
</head>
<body>
  <center class="container" >
    <h1>Club Soccer System</h1>

    <form action="/home" method="post">

      <h3> Hello {{username}} </h3>
      <h3> Please choose the following data information you want to see. </h3>
      <input type="radio" name="query" value="Player_new"> Player information<br>
      <input type="radio" name="query" value="Team"> Team information<br>
      <input type="radio" name="query" value="Match_new"> Match information<br>
      <input type="radio" name="query" value="Stadium"> Stadium information<br>
      <input type="radio" name="query" value="Injury"> Injury information<br>
      <input type="radio" name="query" value="Player_Ability"> Watch Two players PK<br>
      <input type="radio" name="query" value="Team_Ability"> Watch Two team PK<br>
      <br>
      <input type="submit" name="submit" value="SUBMIT">
      <br><br><br>
      <input type="submit" name='backToLogin' value="Back to Login Page">

    </form>
  </center>
</body>
</html>